MONGO_URI=mongodb+srv://PrepMateUser:Prep1234@prepmate.j5mwwfa.mongodb.net/prepmate_db?retryWrites=true&w=majority&appName=PrepMate
JWT_SECRET=y91971c46cee4dfc4cd502f88282ad9ef
PORT=5000
NODE_ENV=development
CLIENT_URL=http://localhost:3000
